<div class="light-bg h-full">
  <div class="column items-center h-full">
    <div class="title-padding left-pad self-start column justify-center">
      <h2 class="oceanwide text-white whitespace-nowrap text-3xl">Positions</h2>
    </div>
    <div class="column light-grey-bg rounded-top menu-width flex-auto usable-screen">
      <h3 class="pl-4 py-4 font-medium underline">Positions and Formation (Optional)</h3>
      <mat-form-field appearance="outline" class="w-3/4 pl-4">
        <mat-label>Select Formation</mat-label>
        <mat-select [(value)]="formationSelect" (valueChange)="check()">
          <mat-option *ngFor="let key of formationEnumKeys" [value]="key">
            {{formationEnum[key]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row overflow-y-hidden usable-screen">
        <div class="column overflow-y-auto border-grey">

        </div>
        <div class="column overflow-y-auto border-grey">
          <h3 class="pl-2 py-2 font-medium"></h3>
        </div>
      </div>
    </div>
    <app-progress-buttons class="height-10" [buttonText]="['Positions (Optional)']" 
      [iconType]="['continue']"></app-progress-buttons>
  </div>
</div>