<div class="light-bg h-full">
  <div class="column items-center h-full">
    <div class="title-padding left-pad self-start column justify-center">
      <h2 class="oceanwide text-white whitespace-nowrap text-3xl">Team {{team1 ? '1' : '2'}}</h2>
    </div>
    <div class="column light-grey-bg rounded-top menu-width flex-auto usable-screen">
      <h3 class="pl-4 py-4 font-medium underline">Positions and Formation (Optional)</h3>
      <mat-form-field appearance="outline" class="w-3/4 pl-4 pb-4">
        <mat-select [(value)]="formationSelect" (valueChange)="check()">
          <mat-option *ngFor="let key of formationEnumKeys" [value]="key" class="grey-bg">
            {{formationEnum[key]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="formationSelect != formationEnum['6-6 (No Positions)']" class="row overflow-y-hidden usable-screen">
        <div class="column overflow-y-auto border-grey width-70">
          <div class="row justify-evenly border-grey">
            <h6 class="font-bold underline" *ngFor="let position of positionLabels; index as i" (click)="positionSelect(position)" [ngClass]="{underline: position == positionMenu}">{{positionEnum[position]}}</h6>
          </div>
          <h2 class="bold text-xl self-center py-2">{{posFullEnum[positionMenu]}} ({{positionPlayerMap.get(positionMenu).length}})</h2>
          <div *ngFor="let player of positionPlayerMap.get(positionMenu)">         
             <app-player-tile-no-delay
            [name]="(player.firstName + ' ' + player.lastName)" [username]="player.username" [color]="player.proPicColor" [expanded]="true" (click)="selectAPlayer(player)"></app-player-tile-no-delay>
          </div>
        </div>
        <div class="column overflow-y-auto border-grey width-30">
          <h3 class="pl-2 py-2 font-medium">Team {{team1 ? '1' : '2'}}</h3>
          <app-player-short-check-tile *ngFor="let player of selectedPlayers" [color]="player.proPicColor" [name]="player.firstName + ' ' + player.lastName" [selected]="player.position != positionEnum['None']" (click)="selectAPlayer(player)"></app-player-short-check-tile>
        </div>
      </div>
    </div>
    <ng-container *ngIf="team1; else team2Button">
      <app-progress-buttons class="height-10" [buttonText]="['Team 2']" 
      [iconType]="['continue']"></app-progress-buttons>
    </ng-container>
    <ng-template #team2Button>
      <app-progress-buttons class="height-10" [buttonText]="['Ready!']" 
      [iconType]="['continue']"></app-progress-buttons>
    </ng-template>
  </div>
</div>