<div class="light-bg h-full">
  <div class="column items-center h-full">
    <div class="title-padding left-pad self-start column justify-center">
      <h2 class="oceanwide text-white whitespace-nowrap text-3xl">Choose Players</h2>
    </div>
    <div class="column light-grey-bg rounded-top menu-width flex-auto usable-screen">
      <div class="search-bar mx-6">
        <mat-form-field appearance="outline">
          <input class="w-1/2" type="tel" matInput placeholder="Search Players" name="search" [formControl]="searchText"> 
        </mat-form-field>
      </div>
      <div class="row overflow-y-hidden usable-screen">
        <div class="column overflow-y-auto border-grey" [@all-players-column-width]="allPlayersSelected ? 'selected' : 'unselected'" (click)="toggleColumns(true)">
          <h3 class="pl-2 py-2 font-medium">Players</h3>
          <app-player-select-tile *ngFor="let player of playerSearchResult"
            [name]="(player.firstName + ' ' + player.lastName)" [username]="player.username" [expanded]="allPlayersSelected" (click)="selectAPlayer(player)"></app-player-select-tile>
        </div>
        <div class="column overflow-y-auto border-grey" [@all-players-column-width]="allPlayersSelected ? 'unselected' : 'selected'" (click)="toggleColumns(false)">
          <h3 class="pl-2 py-2 font-medium">Team 1</h3>
          <app-player-select-tile class="selected" *ngFor="let player of chosenPlayers"
          [name]="(player.firstName + ' ' + player.lastName)" [username]="player.username" [expanded]="!allPlayersSelected" (click)="unselectAPlayer(player)" [selected]="true"></app-player-select-tile>
        </div>
      </div>
      <app-progress-buttons class="height-10" [buttonText]="['Positions (Optional)']" [path]="['position-select']" [iconType]="['continue']"></app-progress-buttons>
    </div>
  </div>


</div>