.border-grey {
  border-color: #D9D9D9;
  border-width: 1px;
}

.dark-blue {
  color: #5065A8;
  font-size: 1.5rem;
}

.height-10 {
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.usable-screen { 
  height: 64vh;
}

.search-bar {
  // margin: 1rem;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: larger;
}

.example-full-width {
  width: 100%;
  color: #7892B5;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-border { 
  border-width: 2px;
}

.headers {
  font-size: large;
  color: #5C5454;
}

.light-blue {
  color: #7892B5;
  font-size: 1.25rem;
}

.white-options {
  background-color: #FFFFFF;
}

mat-form-field {
  font-size: 20px;
}

.rounded-top {
  border-radius: 2rem 2rem 0 0;
}

.light-grey-bg {
  background-color: #F6F5F5;
}

.menu-width {
  width: 100%;
}

.dark-blue {
  background-color: #5065A8;
}

.white-text {
  color: #FFFFFF;
  font-size: medium;
}

@media screen and (min-width: 600px) {
  .white-icon {
    height: 20px;
    width: 20px;
  }
  .menu-width {
    width: 60%;
  }
}

.left-pad {
  padding-left: 10%;
}

.spaced {
  justify-content: flex-start;
  padding-left: 15%;
}

a {
  text-decoration: none;
  color: black;
}

.flex-60 {
  flex-grow: 6;
}


//Desktop and Tablet 
@media screen and (min-width: 600px) {
  
}