<mat-card class="border-grey light-grey-bg" [ngClass]="{'selected': selected}">
  <mat-card-content>
    <div class="row">
      <ng-container *ngIf="false">
        <i mat-card-avatar class="material-icons">accessibility</i>
      </ng-container>
      <ng-container>
        <div class="profile-picture">{{getInitials()}}</div>
      </ng-container>
      <div class="column">
        <mat-card-title class="name">{{name | truncate:[15, '.']}}</mat-card-title>
        <mat-card-subtitle class="username">@{{username}}</mat-card-subtitle>
      </div>
    </div>
  </mat-card-content>
</mat-card>