<div class="white bottom-border">
  <div class="row center spaced">
    <div class="column center full-height">
      <div class="box red"></div>
      <span class="team-name">Tall Ones</span>
    </div>
    <div class="column center full-height">
      <div class="date-time">
        12:48 PM, Feb 08 2023
      </div>
      <div class="row space-between vertical-center full-width">
        <div class="arrow-left possession"></div>
        <div class="score">17</div>
        <div class="middle">-</div>
        <div class="score">25</div>
        <div class="arrow-right possession"></div>
      </div>
      <h6 class="game-name small-padding">Game 1</h6>

    </div>
    <div class="column center full-height">
      <div class="box blue"></div>
      <span class="team-name">Spike Tyson</span>

    </div>
  </div>
  <!-- <div class="column center padding">
    <div class="date-time">
      12:48 PM, Feb 08 2023
    </div>
    <div class="scores-colors">
      <div class="row spaced vertical-center">
        <div class="box red"></div>
        <div class="score">17</div>
        <div class="middle">-</div>
        <div class="score">25</div>
        <div class="box blue"></div>
      </div>
    </div>
    <div class="team-game-name">
      <div class="row spaced">
        <h6 class="team-name">Tall Ones</h6>
        <h6 class="game-name">Game 1</h6>
        <h6 class="team-name">Spike Tyson</h6>
      </div>
    </div>
  </div> -->
</div>