<div class="white bottom-border">
  <div class="row center spaced">
    <div class="column center full-height">
      <div class="box red"></div>
      <span class="team-name">{{currentGame.team1Name}}</span>
    </div>
    <div class="column center full-height">
      <div class="date-time">
        <!-- 12:48 PM, Feb 08 2023 -->
        {{dateTime}}
      </div>
      <div class="row space-between vertical-center full-width">
        <div class="arrow-left possession" [ngClass]="{disabled: !currentGame.currentPossession}"></div>
        <div class="score">{{currentGame.team1Score}}</div>
        <div class="middle">-</div>
        <div class="score">{{currentGame.team2Score}}</div>
        <div class="arrow-right possession" [ngClass]="{disabled: currentGame.currentPossession}"></div>
      </div>
      <h6 class="game-name small-padding">{{currentGame.gameName}}</h6>

    </div>
    <div class="column center full-height">
      <div class="box blue"></div>
      <span class="team-name">{{currentGame.team2Name}}</span>

    </div>
  </div>
</div>