<div class="parent">
  <div class="div1">
    <h2>Player</h2>
  </div>
  <div class="player border rounded color-blue font-sans" *ngFor="let player of players; index as i" [ngClass]="'div' + (i + 2)"
    (click)="onPlayerClick(player.name)">
    <div class="flex font-medium justify-start items-center min-h-full">
      <div class="text-gray-700 w-1/4 text-lg text-left ml-2">
        {{player.position}}
      </div>
      <div class="text-gray-900 w-1/2 text-lg text-left">
        {{player.name}}
      </div>
      <div class="text-gray-700 text-base text-right">
        {{player.number}}
      </div>
    </div>
  </div>
  <app-sub-icon-button class="mb-4 div8"></app-sub-icon-button>
  <h2 class="div9">Result</h2>
  <app-icon-buttons class="div10" [buttonResult]="results['Zero Atk']"></app-icon-buttons>
  <app-icon-buttons class="div11" [buttonResult]="results['Free Ball']"></app-icon-buttons>
  <app-icon-buttons class="div12" [buttonResult]="results.Set"></app-icon-buttons>
  <app-icon-buttons class="div13" [buttonResult]="results.Kill"></app-icon-buttons>
  <app-icon-buttons class="div14" [buttonResult]="results['Atk Err']"></app-icon-buttons>
  <app-icon-buttons class="div15" [buttonResult]="results['BH Err']"></app-icon-buttons>
  <div class="div16"></div>
</div>