.color-blue {
  border-color: #5065A8;
}

.parent {
  padding: 10px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: .6fr repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  max-height: 85%;
}

.div1 {
  grid-area: 1/1/2/2;
  background-color: white;
}
.div2 {
  grid-area: 2/1/3/2;
  background-color: white;

}
.div3 {
  grid-area: 3/1/4/2;
  background-color: white;

}
.div4 {
  grid-area: 4/1/5/2;
  background-color: white;

}
.div5 {
  grid-area: 5/1/6/2;
  background-color: white;

}
.div6 {
  grid-area: 6/1/7/2;
  background-color: white;

}
.div7 {
  grid-area: 7/1/8/2;
  background-color: white;

}
.div8 {
  grid-area: 8/1/9/2;
  background-color: white;

}
.div9 {
  grid-area: 1/2/2/3;
  background-color: white;

}
.div10 {
  grid-area: 2/2/3/3;
  background-color: white;

}
.div11 {
  grid-area: 3/2/4/3;
  background-color: white;

}
.div12 {
  grid-area: 4/2/5/3;
  background-color: white;

}
.div13 {
  grid-area: 5/2/6/3;
  background-color: white;

}
.div14 {
  grid-area: 6/2/7/3;
  background-color: white;

}
.div15 {
  grid-area: 7/2/8/3;
  background-color: white;

}
.div16 {
  grid-area: 8/2/9/3;
  background-color: white;

}