<div class="flex flex-row">
  <div class="w-1/2 column ml-10 mt-4">
    <app-sub-icon-button class="mb-4"></app-sub-icon-button>
    <div class="players-list font-sans">
      <div class="player-tile my-2 py-3 px-4" *ngFor="let player of players" (click)="onPlayerClick(player.name)">
        <div class="flex font-medium">
          <div class="text-gray-700 w-1/4 text-lg">
            {{player.position}}
          </div>
          <div class="text-gray-900 text-lg">
            {{player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="result">
      <app-icon-buttons [label]="'Ace'"></app-icon-buttons>
    </div>
  </div>
</div>