<div class="light-bg h-full">
  <div class="column items-center h-full">
    <div class="title-padding left-pad self-start column justify-center">
      <h2 class="py-4 font-medium underline text-white text-2xl">Game Preview</h2>
    </div>
    <div class="column light-grey-bg menu-width flex-auto usable-screen items-center h-full">
      <ng-container *ngIf="(currentGame$ | async) as currentGame">
        <h4 class="py-2 grey ">{{currentGame.gameName}}</h4>
        <div class="row w-full h-full">
          <app-team-bench-starting class="column flex-1" [team]="currentGame.team1"></app-team-bench-starting>
          <app-team-bench-starting class="column flex-1" [team]="currentGame.team2"></app-team-bench-starting>
        </div>
      </ng-container>
    </div>
  </div>
</div>