.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #5065A8;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  font: 500 20px/32px Oceanwide, "Helvetica Neue", sans-serif;
}


.row {
  align-items: center;
  justify-content: space-between;
}

.vertical-divider {
  border-left: 1px solid white;
  height: 1rem;
}

.libero {
  margin-left: 1rem;
}

