<div class="h-fit white-bg full-height flex flex-col container parent">
  <!-- This component will control which play comes next -->
  <ng-container *ngFor="let eventId of rallyKeys; index as i">
    <div class="h-fit child" id="event{{i}}">
      <ng-container *ngIf="rallyEvents.get(eventId).possession">
        <app-hit-indicator-banner class="banner-height" [subtitle]="eventTypeEnum[rallyEvents.get(eventId).eventType]"
          [teamName]="gameInfo.team1Name" [team1]="true"></app-hit-indicator-banner>
        <app-player-event [players]="team1" [playerResult]="rallyEvents.get(eventId)"
          (selectedPlayerResult)="processEvent($event, eventId)"></app-player-event>
      </ng-container>
      <ng-container *ngIf="!rallyEvents.get(eventId).possession">
        <app-hit-indicator-banner class="banner-height" [subtitle]="eventTypeEnum[rallyEvents.get(eventId).eventType]"
          [teamName]="gameInfo.team2Name" [team1]="false"></app-hit-indicator-banner>
        <app-player-event [players]="team2" [playerResult]="rallyEvents.get(eventId)"
          (selectedPlayerResult)="processEvent($event, eventId)"></app-player-event>
      </ng-container>
    </div>
  </ng-container>
</div>