.light-blue {
  background-color: #D7DEE9;
}

.circle-bg {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #D7DEE9;
}

.gray {
  color: #5c5454;
}

.arial {
  font-family: Arial;
}

.white {
  background-color: #F6F5F5;
}

.light-blue-icon  {
  color: #5065A8;
}

.rounded {
  border-radius: 1rem;
}