<!-- Current Game is data that won't change -->
<!-- Game is subscribed data -->

<div class="bottom-border" [ngClass]="currentRally? 'white': 'grey'">
  <div class="row center spaced">
    <div class="column center full-height">
      <div class="box red"></div>
      <span class="team-name">{{currentGame.team1Name}}</span>
    </div>
    <div class="column center full-height w-2/5">
      <!-- Past Rally -->
      <ng-container *ngIf="!currentRally">
        <div class="date-time">
          Prev. Rally #{{currentRallyId}}
        </div>
      </ng-container>
      <!-- Current Rally -->
      <ng-container *ngIf="currentRally">
        <div class="date-time">
          <!-- 12:48 PM, Feb 08 2023 -->
          In Prog. Rally #{{currentRallyId}}
        </div>
      </ng-container>
      <div class="row space-between vertical-center full-width">
        <div class="arrow-left possession" [ngClass]="{disabled: !currentRallyWhichTeamScored}"></div>
        <div class="score">{{currentRallyTeam1Points}}</div>
        <div class="middle">-</div>
        <div class="score">{{currentRallyTeam2Points}}</div>
        <div class="arrow-right possession" [ngClass]="{disabled: currentRallyWhichTeamScored}"></div>
      </div>
      <h6 class="currentGame-name small-padding">{{currentGame.gameName}}</h6>

    </div>
    <div class="column center full-height">
      <div class="box blue"></div>
      <span class="team-name">{{currentGame.team2Name}}</span>

    </div>
  </div>
</div>