<div class="column min-h-fit flex-1">
  <h1 class="self-center oceanwide text-xl font-bold">{{team.teamName}}</h1>
  <div class="column border-grey overflow-y-scroll flex-1">
    <div class="flex-1">
      <div *ngFor="let player of teamStarting">
        <ng-container *ngIf="player.position; else positionless">
          <app-player-icon-tile [name]="(player.firstName + ' ' + player.lastName)" [color]="player.proPicColor" [icon]="player.position" (click)="benchAPlayer(player, true)"></app-player-icon-tile>
        </ng-container>
        <ng-template #positionless>
          <app-player-icon-tile [name]="(player.firstName + ' ' + player.lastName)" [color]="player.proPicColor" (click)="benchAPlayer(player, true)"></app-player-icon-tile>
        </ng-template>
      </div>
    </div>
    <div class="flex-1 self-end">
    <p class="text-right pr-2 font-medium" (click)="startAPlayer(player)" *ngFor="let player of teamBench">{{(player.firstName + ' ' + player.lastName | firstinitial)}} </p>
  </div>
</div>
  </div>