.dark-blue {
  color: #5065A8;
  font-size: 1.5rem;
}

.light-blue {
  color: #7892B5;
  font-size: 1.25rem;
}

.menu-width {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .menu-width {
    width: 60%;
  }
}

.row-nopad {
  display: flex;
  flex-direction: row;
}

.map-icon {
  height: 1rem;
  width: 1rem;
}

.left-pad {
  padding-left: 10%;
}

.dark-bg {
  background-color: #5065A8;
  border-radius: 2rem 2rem 0 0;
}

.row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.column {
  justify-content: center;
}

.spaced {
  justify-content: flex-start;
  padding-left: 15%;
}

.disabled {
  text-decoration: line-through;
}

.icon {
  height: 32px;
}

a {
  text-decoration: none;
  color: black;
}


//Desktop and Tablet 
@media screen and (min-width: 600px) {
  
}