<div class="white-bg h-full">
  <div class="column items-center h-full">
    <div class="py-10 left-pad self-start">
      <h2 class="oceanwide dark-blue whitespace-nowrap">Hey, Munseok</h2>
      <div class="row-nopad items-center">
        <h2 class="oceanwide light-blue whitespace-nowrap">Manassas, VA</h2>
        <img class="map-icon" src="../../assets/icons/location.png">
      </div>
    </div>
    <div class="dark-bg menu-width flex-auto column justify-evenly">
      <div class="row justify-center w-full">
        <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'PLAY'"
          [iconType]="'play'"></app-menu-buttons>
      </div>
      <div class="row justify-center w-full">
        <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'TRAIN'"
          [iconType]="'play'"></app-menu-buttons>
      </div>
      <div class="row justify-center w-full">
        <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'WATCH'"
          [iconType]="'play'"></app-menu-buttons>
      </div>
      <div class="column">
        <div class="row">
  
        </div>
        <div class="row">
          
        </div>
      </div>
    </div>
  </div>
</div>