

.row {
  padding: 8% 10%;
}
.column {
  justify-content: center;
}

.spaced {
  justify-content: flex-start;
  padding-left: 15%;
}

.left-pad {
  padding-left: 20px;
}

.oceanwide {
  font-size: 1.5rem;
}

.disabled {
  text-decoration: line-through;
}

.icon {
  height: 32px;
}

a {
  text-decoration: none;
  color: black;
}