<div class="white-bg">
    <div class="column items-stretch">
      <div class="py-4 flex-initial">
        <h2 class="oceanwide left-pad dark-blue">Hey, Munseok</h2>
        <div class="row-nopad items-center">
          <h2 class="oceanwide left-pad light-blue">Manassas, VA</h2>
          <img class="map-icon" src="../../assets/icons/location.png">
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="column items-center"> -->
      <div class="dark-bg menu-width flex-auto">
        <div class="row justify-center w-full">
          <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'Play'"
            [iconType]="'play'"></app-menu-buttons>
        </div>
        <div class="row justify-center w-full">
          <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'Play'"
            [iconType]="'play'"></app-menu-buttons>
        </div>
        <div class="row justify-center w-full">
          <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'Play'"
            [iconType]="'play'"></app-menu-buttons>
        </div>
        <div class="row justify-center w-full">
          <app-menu-buttons class="w-4/5" [buttonColor]="'light-blue'" [buttonText]="'Play'"
            [iconType]="'play'"></app-menu-buttons>
        </div>

      </div>
    </div>
</div>