<div class="white-bg h-full">
  <div class="background-oval"></div>
  <div class="column items-center h-full foreground">
    <div class="py-8 left-pad self-start">
      <h2 class="oceanwide white whitespace-nowrap text-xl">Hey, Munseok</h2>
      <div class="row-nopad items-center">
        <h2 class="oceanwide light-grey whitespace-nowrap text-lg">Manassas, VA</h2>
        <img class="map-icon" src="../../assets/icons/location.png">
      </div>
    </div>
    <div class="menu-width flex-auto column justify-evenly">
      <div class="top-row row justify-center w-full">
        <app-menu-buttons class="w-4/5 btn"  [buttonText]="'PLAY'"
          [iconType]="'play'"></app-menu-buttons>
      </div>
      <div class="row row-spacing justify-center w-full">
        <app-menu-buttons class="w-4/5 btn"  [buttonText]="'TRAIN'"
          [iconType]="'target'"></app-menu-buttons>
      </div>
      <div class="row row-spacing justify-center w-full">
        <app-menu-buttons class="w-4/5 btn"  [buttonText]="'WATCH'"
          [iconType]="'map'"></app-menu-buttons>
      </div>
      <div class="column flex-2">
        <div class="row row-spacing justify-evenly">
          <div class="column items-center">
            <app-square-menu-button class="btn" [iconType]="'map'"></app-square-menu-button>
            <div class="text-white">
              Map
            </div>
          </div>
          <div class="column items-center">
            <app-square-menu-button class="btn" [iconType]="'search'"></app-square-menu-button>
            <div class="text-white">
              Search
            </div>
            
          </div>
          <div class="column items-center">
            <app-square-menu-button class="btn" [iconType]="'coach'"></app-square-menu-button>
            <div class="text-white">
              Coach
            </div>
          </div>
        </div>
        <div class="row row-spacing justify-evenly">
          <div class="column items-center">
            <app-square-menu-button class="btn" [iconType]="'net'"></app-square-menu-button>
            <div class="text-white">
              Teams
            </div> 
          </div>
          <div class="column items-center">
            <app-square-menu-button class="btn"[iconType]="'settings'"></app-square-menu-button>
            <div class="text-white">
              Settings
            </div>
          </div>
          <div class="column items-center">
            <app-square-menu-button class="btn" [iconType]="'profile'"></app-square-menu-button>
            <div class="text-white">
              Profile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>