<div class="row justify-between items-center py-2 pl-2 border-grey">
  <ng-container>
    <div class="profile-picture row items-center justify-center" [ngStyle]="{'background-color': color}">
      {{(name | initials)}}</div>
  </ng-container>
  <ng-container class="justify-self-start">{{name | firstinitial}}</ng-container>
  <div class="justify-self-end">
    <ng-container *ngIf="icon == 'check'; else position">
      <i class="material-icons">{{icon}}</i>
    </ng-container>
    <ng-template #position>
      <div class="blue-square row items-center justify-center font-medium oceanwide text-base">{{positionEnum[icon]}}</div>
    </ng-template>
  </div>
</div>