<div class="row w-full">
  <div class="column grow-60">
    <div class="font-medium text-lg mt-2">
      Player
    </div>
    <div class="h-12 mx-2 mb-2 player border rounded color-blue font-sans" *ngFor="let player of players"
      [ngClass]="{'highlight': playerResult.playerInfo?.playerId == player.playerId}" (click)="onPlayerClick(player)">
      <div class="flex font-medium justify-start items-center min-h-full">
        <div class="w-1/5 text-base text-left ml-3 name-font"
          [ngClass]="{'text-white-800': playerResult.playerInfo?.playerId == player.playerId, 'text-gray-700': playerResult.playerInfo?.playerId != player.playerId}">
          {{playerPositionEnum[player.position]}}
        </div>
        <div class="w-3/5 name text-left name-font"
          [ngClass]="{'text-white-800': playerResult.playerInfo?.playerId == player.playerId, 'text-gray-900': playerResult.playerInfo?.playerId != player.playerId}">
          {{player.firstName + " " + player.lastName | firstinitial}}
        </div>
        <div *ngIf="player.number != null" class="text-base text-right name-font"
          [ngClass]="{'text-white-800': playerResult.playerInfo?.playerId == player.playerId, 'text-gray-700' : playerResult.playerInfo?.playerId != player.playerId}">
          #{{player.number}}
        </div>
      </div>
    </div>
  </div>
  <div class="column grow-40 pr-2">
    <h2 class="font-medium text-lg mt-2">
      Result
    </h2>
    <ng-container *ngIf="possibleResults.length == 3">
      <div></div>
      <ng-container *ngFor="let result of possibleResults; index as i">
        <app-icon-buttons [inactive]="!resultIndexes[i]" (click)="onResultClick(result, i)"
          [buttonResult]="result"></app-icon-buttons>
      </ng-container>
      <div></div>
      <div></div>
    </ng-container>
    <ng-container *ngIf="possibleResults.length == 4">
      <div></div>
      <ng-container *ngFor="let result of possibleResults; index as i">
        <app-icon-buttons [inactive]="!resultIndexes[i]" (click)="onResultClick(result, i)"
          [buttonResult]="result"></app-icon-buttons>
      </ng-container>
      <div></div>
    </ng-container>
    <ng-container *ngIf="possibleResults.length == 5">
      <ng-container *ngIf="playerResult.eventType == eventTypeEnum['Block']">
        <ng-container *ngFor="let result of possibleResults; index as i">
          <app-icon-buttons [inactive]="!resultIndexes[i]" (click)="onResultClick(result, i)"
            [buttonResult]="result"></app-icon-buttons>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="possibleResults.length == 6">
      <ng-container *ngFor="let result of possibleResults; index as i">
        <app-icon-buttons [inactive]="!resultIndexes[i]" (click)="onResultClick(result, i)"
          [buttonResult]="result"></app-icon-buttons>
      </ng-container>
    </ng-container>
  </div>
</div>