.color-blue {
  border-color: #5065A8;
}

.parent {
  padding: 10px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: .6fr repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  max-height: 100%;
}

.grow-60 {
  flex-grow: 6;
}

.grow-40 {
  flex-grow: 4;
}

.player {
  background-color: #F6F6F5;
}

.highlight {
  background-color: #7892B5;
  color: #FFFFFF;
}

.name-font {
  font-family: 'Optima', sans-serif;
}

.name {
  font-size: 1.05rem;
  line-height: 1rem;
  font-weight: 600;
}