<!-- Leaving vertical carousel for last  -->
<div class="row">
  <div class="players column">
    <button class="button">Sub.</button>
    <div class="players-list">
      <div class="player-tile" *ngFor="let player of players">
        <div class="player">
          <div class="position">
            {{player.position}}
          </div>
          <div class="name">
            {{player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column results">
    <div class="result">
      Ace
    </div>
  </div>
</div>